html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
/* Úkol č. 1 */

body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
}

.aplikace {
  width: 330px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 70px;
}

.obsah {
  background-color: #283e50;
  padding: 5px 0;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 0 20px 20px 20px;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
}

p {
  text-align: center;
  margin: 0px 20px 20px 20px;
}

.foto-logo {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 2% 2% 0 0;
  background-color: #283e50;
}

/* Odkazy */

.piskvorky__tlacitko {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.piskvorky__tlacitko a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
}

.piskvorky__tlacitko--zelene {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.piskvorky__tlacitko--zelene:hover {
  background-color: #1cbb96;
}

.piskvorky__tlacitko--modre {
  background-color: #0197f6;
}

.piskvorky__tlacitko--modre:hover {
  background-color: #0090e9;
}

/* Úkol č. 2 - Pravidla */

/* Odrážky */

ol {
  margin: 35px;
}

.odrazky li {
  padding: 0 0 20px 0;
  text-align: left;
}

/* Křížek a Kroužek */

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

/* Tělo aplikace */

.pravidlahry {
  background-color: #283e50;
  min-width: 330px;
  max-width: 800px;
  color: #ffffff;
}

/* Obrázky */

figure {
  padding: 20px;
  margin: 0;
}

.obrazky {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin: 30px 0 40px 0;
}

.obrazky img {
  max-width: 100%;
  margin: 0;
}

.obrazky figcaption {
  padding: 10px 0 0 0;
  font-style: italic;
  text-align: center;
}

/* Tablet */

@media (min-width: 540px) {
  .obrazky {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  figure {
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
  }

  .pravidlahry {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .pravidlahry {
    max-width: 960px;
    margin: 70px auto;
  }
}

/* Úkol č. 3 - Hra */

.hra {
  max-width: 80vmin;
  color: #ffffff;
  margin: 0 auto;
}

.navigace {
  display: flex;
  justify-content: space-between;
}

.navigace-vlevo p {
  text-transform: uppercase;
  margin-right: 7px;
  margin-left: 0;
  display: inline-block;
  font-weight: 500px;
  font-size: 20px;
}

.hra-symbol {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.navigace-vpravo {
  margin-right: 0;
}

.navigace-vpravo a {
  border-radius: 5px;
  text-decoration: none;
}

.ikona-home {
  background-color: #1fcca4;
  margin-right: 10px;
  padding: 20px 7px 10px 10px;
}

.ikona-home:hover,
.ikona-home:focus {
  background-color: #1cbb96;
}

.ikona-zpet {
  background-color: #0197f6;
  padding: 20px 12px 11px 10px;
}

.ikona-zpet:hover,
.ikona-zpet:focus {
  background-color: #0090e9;
}

/* hrací plocha */

.hraci-plocha {
  display: flex;
  flex-wrap: wrap;
  height: 70vmin;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
}

.board__field {
  flex-basis: 10%;
  border: 1px solid black;
  background: hsla(0, 0%, 100%, 0.315);
  cursor: pointer;
}
.board__field:hover,
.board__field:focus {
  background: hsla(0, 0%, 100%, 0.616);
  outline: none;
}

.board__field--cross {
  background: rgba(255, 255, 255, 0.4) url(cross.svg) no-repeat center;
  background-size: 70%;
}

.board__field--circle {
  background: rgba(255, 255, 255, 0.4) url(circle.svg) no-repeat center;
  background-size: 70%;
}
