html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
/* Úkol č. 1 */

body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
  padding-top: 100px;
}

.aplikace {
  width: 330px;
  color: #ffffff;
  margin: 0 auto;
}

.obsah {
  background-color: #283e50;
  padding: 5px 0;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 0 20px 20px 20px;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
}

p {
  text-align: center;
  margin: 0px 20px 20px 20px;
}

.foto-logo {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 2% 2% 0 0;
  background-color: #283e50;
}

/* Odkazy */

.piskvorky__tlacitko {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.piskvorky__tlacitko a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
}

.piskvorky__tlacitko--zelene {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.piskvorky__tlacitko--zelene:hover {
  background-color: #1cbb96;
}

.piskvorky__tlacitko--modre {
  background-color: #0197f6;
}

.piskvorky__tlacitko--modre:hover {
  background-color: #0090e9;
}

/* Úkol č. 2*/

/* Odrážky */

ol {
  margin: 35px;
}

.odrazky li {
  padding: 0 0 20px 0;
  text-align: left;
}

/* Křížek a Kroužek */

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

/* Tělo aplikace */

.pravidlahry {
  background-color: #283e50;
  min-width: 330px;
  max-width: 800px;
  color: #ffffff;
  margin: 0 10px 100px 10px;
}

/* Obrázky */

figure {
  padding: 20px;
  margin: 0;
}

.obrazky {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin: 30px 0 40px 0;
}

.obrazky img {
  max-width: 100%;
  margin: 0;
}

.obrazky figcaption {
  padding: 10px 0 0 0;
  font-style: italic;
  text-align: center;
}

/* Tablet */

@media (min-width: 540px) {
  .obrazky {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  figure {
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
  }

  .pravidlahry {
    margin: 70px auto;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .pravidlahry {
    max-width: 960px;
  }
}

/* Úkol č. 3 */

.hra {
  max-width: 80vmin;
  color: #ffffff;
  margin: 0 auto;
}

.navigace {
  display: flex;
  justify-content: space-between;
}
