html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
/* Úkol č. 1 */

body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding-top: 100px;
}

.aplikace {
  width: 330px;
  color: #ffffff;
  margin: 0 auto;
}

.obsah {
  background-color: #283e50;
  padding: 5px 0;
}

h1 {
  font-family: 'Lobster', cursive;
  margin: 20px;
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
  margin: 0px 20px 20px 20px;
}

.foto-logo {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 2% 2% 0 0;
  background-color: #283e50;
}

/* Odkazy */

.linky {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.linky a {
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
}

.pravidla {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.pravidla a:hover {
  background-color: #1cbb96;
}

.zacithrat {
  background-color: #0197f6;
}

.zacithrat a:hover {
  background: #0090e9;
}

/* Úkol č. 2*/

.circle,
.cross {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.pravidlahry {
  background-color: #283e50;
  padding: 5px 0;
  width: 330px;
  color: #ffffff;
  margin: 0 auto;
}

.uvodnistranka {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.uvodnistranka a:hover {
  background-color: #1cbb96;
}
